

body{
	padding: 75px;
	background: #3511C9 !important;
	width: 98%;
	height: 100% !important;
}
a {
	color: #FFCF00 !important;
	text-decoration: none !important;
	
}
.list-group{
	margin-top: 20px;
	z-index: 0;
}

.list-group-item{
	margin-bottom: 20px !important;
	border: 1px solid #FFCF00 !important;
	border-radius: 10px !important;
	box-shadow: 2px 3px 20px 0px black !important;
	
}

.list-group-item a{
	color: inherit !important;
	font-size: 1.2em !important;
}



.thumbnail{
	display: inline-block !important;
	margin: 5px !important;
	border: 1px solid #9b9b9b;
}

/*Search Bar CSS*/
input {
	outline: none;
	z-index: 1;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}



.center #inputButton input[type=search]:focus{
	left: 40%;
}
#inputButton{
	
}
input[type=search]{
	background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
#inputButton input[type=search] {
	width: 40px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#inputButton input[type=search]:hover {
	background-color: #fff;
}
#inputButton input[type=search]:focus {
	width: 390px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#inputButton input:-moz-placeholder {
	color: transparent;
}
#inputButton input::-webkit-input-placeholder {
	color: transparent;
}